    {{ form_start(form) }}
        {{ form_errors(form) }}

        <div>
            {{ form_label(form.theme) }}
            {{ form_errors(form.theme) }}
            {{ form_widget(form.theme) }}
        </div>

        <div>
            {{ form_label(form.text) }}
            {{ form_errors(form.text) }}
            {{ form_widget(form.text) }}
        </div>

        <div>
            {{ form_widget(form.submit) }}
        </div>

        {{ form_rest(form) }}
    {{ form_end(form) }}